* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container nav {
    width: 100%;
    display: flex;
    border-bottom: 1.5px solid #F2F0F5;
}

.container nav .navmain {
    width: 1140px;
    height: 75px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #0C0C23;
    cursor: pointer;
}

.container nav .navmain ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

.container nav .navmain ul li {
    font-size: 16px;
    font-weight: 700;
    color: #ABAAAD;
}

.serach {
    width: 360px;
    height: 40px;
    display: flex;
    border: 1.5px solid #EAE8ED;
    align-items: center;
    padding: 0px 16px;
    justify-content: space-between;
    gap: 12px;
    border-radius: 5px;
}

.serach input {
    flex: 1;
    border: none;
    outline: none;
}

.serach input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #ABAAAD;
}

.navBtns {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.navBtns button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navBtns button:active {
    transform: scale(0.97);
}

header {
    width: 1140px;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.headerinfo {
    width: 360px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
    border: 1.5px solid #F2F0F5;
}

.headerIcon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #0C0C23;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.textName {
    font-size: 20px;
    font-weight: 700;
    color: #0C0C23;
}

.textText {
    font-size: 16px;
    font-weight: 400;
    color: #0C0C23;
}

main {
    width: 100%;
    height: auto;
    margin-top: 88px;
}

.category {
    width: 1140px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.categoryHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryHeader span {
    font-weight: 900;
    font-size: 48px;
    color: #0C0C23;
}

.categoryHeader button {
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.categoryHeader button span {
    font-weight: 700;
    font-size: 20px;
    color: #0C0C23;
}

.categores {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoryMain {
    width: 262px;
    height: 210px;
    position: relative;
}

.categoryMain img {
    border-radius: 15px;
}

.categoryMain span {
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.products {
    width: 1140px;
    margin: 0px auto;
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products .product {
    width: 360px;
    height: 335px;
    border: 1px solid #EAE8ED;
    border-radius: 12px;
    position: relative;
}

.products .product .productHeader {
    position: absolute;
    top: 16px;
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products .product .productHeader .productStar {
    width: 68px;
    height: 32px;
    background-color: #0C0C23;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    gap: 5px;
}

.products .product .productHeader .productHear {
    width: 40px;
    height: 40px;
    background: rgba(12, 12, 35, 0.4);
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.products .product .productImg img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.products .product .productend {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.products .product .productend .productName {
    font-weight: 700;
    font-size: 20px;
    color: #0C0C23;
}

.products .product .productend .productInfos {
    display: flex;
    align-items: center;
    gap: 12px;
}

.products .product .productend .productInfos button {
    width: 98px;
    height: 32px;
    background: #FFEFF3;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.products .product .productend .productInfos button span {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #0C0C23;
}

.shops {
    width: 1140px;
    margin: 0px auto;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.shopCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 31px;
}

.shop {
    width: 360px;
    height: 225px;
    background: #FFEFF3;
    border-radius: 12px;
    display: flex;
}

.shopinfo {
    padding: 41px 32px;
    width: 275px;
    display: flex;
    flex-direction: column;
}

.shopName {
    width: 275px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #0C0C23;
}

.shopInfo {
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #0C0C23;
}

.shopinfo button {
    width: 105px;
    height: 40px;
    background: #0C0C23;
    border-radius: 6px;
}